
.p-1 {
    padding-left: 0px;
}

.p-2 {
    padding-left: 20px;
}

.p-3 {
    padding-left: 40px;
}

.p-4 {
    padding-left: 60px;
}


a {
    color: black;
    text-decoration-line: none;
}

a:hover {
    color: blue;
    text-decoration-line: solid;
}


.active-url {
    color: red;
}
